
body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url("./imges/img-back");
background-size:200%;
color: white;
text-align: center;
font-weight: bolder;newCards()

}

h1{
    color: goldenrod;
}


#message-el{
font-style: italic;
}
button{
    color: rgb(14, 94, 5);
    background-color: goldenrod;
    width: 300px;
    height: 35px;
    border-radius:6px;
    font-weight: bold;
    font-size:20px ;
    border: none;
    margin-bottom: 6px;
}
button:hover{
    background-color: rgb(255, 208, 0);
    transition: 0.2s;
}