body{
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
  color: white ;
  background-color: #5f9341;
  padding:10px 20px ;
  border: none;
  font-weight: bold;
  
    
}

input{
    padding: 10px;
     padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 

    width: 100%;
    box-sizing: border-box;
    border: 1px solid;
    color:#5f9341;
    margin-bottom: 4px; ;
}

/* html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#box{
    cursor: pointer;
background: lightseagreen;
width: 200px;
padding: 40px;
text-align: center;
margin: 20px auto;
color: white;
font-weight: bold;

} */
